
name: Terraform
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup tf
        uses: hashicorp/setup-terraform@v3
        with:
          terraform-version: '1.7.0'
      - name: tf init
        run: terraform init
      - name: tf validate
        run: terraform init
      - name: tf plan
        run: terraform plan --out=my-plan.tfplan

      - name: verified
        run: ls -lR

